<ion-header>
  <ion-toolbar>
    <ion-title>Run Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Time</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Distance</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

